.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  &__search-content {
    padding-right: 12px;
    width: 65%;
  }
  &__nomination-content {
    padding-right: 12px;
    width: 85%;
  }
}
